<%- include('../partials/head-start-partial') %>
<title>Home</title>
<style>
    .center {
        text-align: center;
    }
</style>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css"
  integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<%- include('../partials/head-end-partial') %> 
<%- include('../partials/body-start-partial') %>   
<div class="center">
<a href="/users/sign-out">Sign out</a>
<h1 >Hello <%= user.charAt(0).toUpperCase() + user.slice(1) %></h1>
</div>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.bundle.min.js"
  integrity="sha512-pax4MlgXjHEPfCwcJLQhigY7+N8rt6bVvWLFyUMuxShv170X53TRzGPmPkZmGBhk+jikR8WBM4yl7A9WMHHqvg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<%- include('../partials/body-end-partial') %>